body {
    font-family: Raleway, sans-serif;
    font-size: initial;
}

h1 {
    text-align: center;
    color: #222222;
    font-size: 6em;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #222222;
}